*.asv
Part1-cnn/lrs-*.mat
Part1-cnn/mbss-*.mat
Part1-cnn/l2rs-*.mat
Part1-cnn/mmts-*.mat
Part1-cnn/dataTeststore.mat
Part1-cnn/dataTrainstore.mat
Part1-cnn/conv1size-*.mat
Part1-cnn/conv2size-*.mat
Part1-cnn/part2-best.mat
Part1-cnn/best.mat
